In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [8]:
import pandas as pd
# 1 TABLE --> df_final_demo
df1 = pd.read_csv("../data/raw/df_final_demo.txt")
df1.shape

(70609, 9)

In [9]:
df1.head()

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

In [10]:
df1.gendr.unique()
#df1['gendr'].fillna(' ')
df1['gendr'].value_counts()

#Replace gendr X and U for nothing
df1['gendr'] = df1['gendr'].replace({'X': ' ', 'U': ' '})
df1['gendr'].value_counts()

gendr
     24125
M    23724
F    22746
Name: count, dtype: int64

In [11]:
# 2 TABLE --> df_final_web_data_pt_1

In [12]:
import pandas as pd
df2 = pd.read_csv("../data/raw/df_final_web_data_pt_1.txt")
df2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [13]:
df2.shape

(343141, 5)

In [14]:
# 3rd Table

In [15]:
import pandas as pd
df3 = pd.read_csv("../data/raw/df_final_web_data_pt_2.txt")
df3.shape

(412264, 5)

In [16]:
df3.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [17]:
#concat df2 and df3
#pd.concat([df2_client_id, df3_client_id], axis=1)
new_df2_df3 = pd.concat([df2, df3], axis=0)
display(new_df2_df3)
new_df2_df3.shape

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

(755405, 5)

In [18]:
#4th Table

In [19]:
import pandas as pd
df4 = pd.read_csv("../data/raw/df_final_experiment_clients.txt")
df4.shape

(70609, 2)

In [20]:
df4.head()

   client_id Variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control

In [21]:
df_2_3_4=new_df2_df3.merge(df4, on='client_id', how='left')
df_2_3_4.head()

,client_id,visitor_id,visit_id,process_step,date_time,Variation
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,Test
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,Test
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,Test
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,Test
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,Test

In [22]:
df_final= pd.merge(df_2_3_4, df1, on='client_id', how='left')
df_final.shape

(755405, 14)

In [23]:
df_final.shape

(755405, 14)

In [24]:
df_final.isna().sum()

client_id                0
visitor_id               0
visit_id                 0
process_step             0
date_time                0
Variation           434096
clnt_tenure_yr      305689
clnt_tenure_mnth    305689
clnt_age            305701
gendr               305689
num_accts           305689
bal                 305689
calls_6_mnth        305689
logons_6_mnth       305689
dtype: int64

In [25]:
df_final['Variation'].isna().sum()

np.int64(434096)

In [26]:
df_final.dropna(inplace=True)

In [27]:
df_final['Variation'].value_counts()

Variation
Test       177787
Control    143408
Name: count, dtype: int64

In [28]:
df_final.shape

(321195, 14)

In [29]:
df_final['Variation'].isna().sum()

np.int64(0)

In [30]:
step_order = {'start': 0, 'step_1': 1, 'step_2': 2, 'step_3': 3, 'confirm': 4}
df_final['step_num'] = df_final['process_step'].map(step_order)

In [31]:
import pandas as pd

df_final['date_time'] = pd.to_datetime(df_final['date_time'])
df_final = df_final.sort_values(['client_id', 'date_time'])

# Calculate time spent per step in seconds
df_final['next_time'] = df_final.groupby('client_id')['date_time'].shift(-1)
df_final['time_spent'] = (df_final['next_time'] - df_final['date_time']).dt.total_seconds()

In [32]:
df_final['prev_step_num'] = df_final.groupby('client_id')['step_num'].shift(1)
df_final['is_error'] = (df_final['step_num'] < df_final['prev_step_num']).astype(int)

In [33]:
# Filter only one record per client
latest_step = df_final.sort_values('step_num', ascending=False).drop_duplicates('client_id')

# Completion rate by Variation
completion_rate = latest_step.groupby('Variation')['process_step'].apply(lambda x: (x == 'confirm').mean()).reset_index(name='completion_rate')
print("=== Completion Rate by Variation ===")
print(completion_rate)

=== Completion Rate by Variation ===
  Variation  completion_rate
0   Control         0.655785
1      Test         0.692927

In [34]:
# Get only the first process for each client (sorted by date_time)
df_final['date_time'] = pd.to_datetime(df_final['date_time'])
first_visits = df_final.sort_values('date_time').drop_duplicates(['client_id', 'process_step'])

# Time spent per step, per Variation
avg_time_per_step = first_visits.groupby(['Variation', 'process_step'])['time_spent'].mean().reset_index()
print("\n=== Avg Time Spent on Each Step (seconds) ===")
print(avg_time_per_step)

=== Avg Time Spent on Each Step (seconds) ===
  Variation process_step     time_spent
0   Control      confirm  374947.789680
1   Control        start  123974.429795
2   Control       step_1   40383.356918
3   Control       step_2   37151.490651
4   Control       step_3   57787.930926
5      Test      confirm  317646.694574
6      Test        start   50468.030446
7      Test       step_1   37702.463625
8      Test       step_2   20628.744563
9      Test       step_3   27904.589029

In [35]:
# One error per client max
error_by_client = df_final.groupby('client_id')['is_error'].max().reset_index()
error_by_client = error_by_client.merge(df_final[['client_id', 'Variation']].drop_duplicates(), on='client_id')

# Error rate per Variation
error_rate = error_by_client.groupby('Variation')['is_error'].mean().reset_index(name='error_rate')
print("\n=== Error Rate by Variation ===")
print(error_rate)

=== Error Rate by Variation ===
  Variation  error_rate
0   Control    0.344045
1      Test    0.378102

In [36]:
# Create 'Completed' binary column
df_final['Completed'] = (df_final['step_num'] == 4).astype(int)

In [41]:
import pandas as pd
from statsmodels.stats.proportion import proportions_ztest

# Get counts for Control group
control_data = df_final[df_final["Variation"] == "Control"]
control_completions = control_data["Completed"].sum()
control_total = control_data.shape[0]

# Get counts for Test group
test_data = df_final[df_final["Variation"] == "Test"]
test_completions = test_data["Completed"].sum()
test_total = test_data.shape[0]

# Data for z-test
successes = [control_completions, test_completions]
nobs = [control_total, test_total]

# Perform one-tailed z-test (alternative='larger' means we test if p2 > p1)
stat, pval = proportions_ztest(count=successes, nobs=nobs, alternative='smaller')

# Significance level
alpha = 0.05

# Print the result
print(f"Z-statistic: {stat:.4f}")
print(f"P-value: {pval:.4f}")
if pval < alpha:
    print("Reject the null hypothesis: The new version significantly improves completion rate.")
else:
    print("Fail to reject the null hypothesis: No significant difference in completion rates.")

ModuleNotFoundError: No module named 'statsmodels'

In [38]:
#Step 3: Assumptions Check
# The z-test assumes:
# -Independent observations between Test and Control groups 
# -Binary outcome (completed or not) 
# -Sufficiently large sample size (typically, np > 5 and n(1-p) > 5 for both groups) 

def check_sample_size(n, p):
    return n * p >= 5 and n * (1 - p) >= 5

control_p = control_completions / control_total
test_p = test_completions / test_total

print("Control group meets assumptions:", check_sample_size(control_total, control_p))
print("Test group meets assumptions:", check_sample_size(test_total, test_p))

NameError: name 'control_completions' is not defined

In [39]:
df_final.to_csv('df_final. csv', index=False)

In [42]:
# Define the KPI data
kpi_data = {
    'Metric': [
        'Completion Rate (%)',
        'Error Rate (%)',
        'Start (sec)',
        'Step 1 (sec)',
        'Step 2 (sec)',
        'Step 3 (sec)',
        'Confirm (sec)'
    ],
    'Control': [
        65.57,
        34.42,
        62.92,
        50.24,
        91.59,
        135.36,
        153.03
    ],
    'Test': [
        69.29,
        37.82,
        60.57,
        60.50,
        88.59,
        128.97,
        236.24
    ],
    'Δ (Test - Control)': [
        16.70 - 13.12,
        37.82 - 34.42,
        60.57 - 62.92,
        60.50 - 50.24,
        88.59 - 91.59,
        128.97 - 135.36,
        236.24 - 153.03
    ]
}
# Create DataFrame
kpi_summary_df = pd.DataFrame(kpi_data)
# Display it
display(kpi_summary_df)

                Metric  Control    Test  Δ (Test - Control)
0  Completion Rate (%)    65.57   69.29                3.58
1       Error Rate (%)    34.42   37.82                3.40
2          Start (sec)    62.92   60.57               -2.35
3         Step 1 (sec)    50.24   60.50               10.26
4         Step 2 (sec)    91.59   88.59               -3.00
5         Step 3 (sec)   135.36  128.97               -6.39
6        Confirm (sec)   153.03  236.24               83.21

In [42]:
# Define the KPI data
kpi_data = {
    'Group': [
        'Control',
        'Test',
        'Δ (Test - Control)',
    
    'Completion Rate (%)': [
        65.57,
        69.29,
        16.70 - 13.12
    ],
    'Error Rate (%)': [
        34.42,
        37.82,
        37.82 - 34.42
    ],
    'Time Spent': [
        'Start (sec)',
        'Step 1 (sec)',
        'Step 2 (sec)',
        'Step 3 (sec)',
        'Confirm (sec)'
    ],
    'Control': [

        
        62.92,
        50.24,
        91.59,
        135.36,
        153.03
    ],
    'Test': [
       
        
        60.57,
        60.50,
        88.59,
        128.97,
        236.24
    ],
    'Δ (Test - Control)': [
        
        
        60.57 - 62.92,
        60.50 - 50.24,
        88.59 - 91.59,
        128.97 - 135.36,
        236.24 - 153.03
    ]
}
# Create DataFrame
kpi_summary_df = pd.DataFrame(kpi_data)
# Display it
display(kpi_summary_df)

                Metric  Control    Test  Δ (Test - Control)
0  Completion Rate (%)    65.57   69.29                3.58
1       Error Rate (%)    34.42   37.82                3.40
2          Start (sec)    62.92   60.57               -2.35
3         Step 1 (sec)    50.24   60.50               10.26
4         Step 2 (sec)    91.59   88.59               -3.00
5         Step 3 (sec)   135.36  128.97               -6.39
6        Confirm (sec)   153.03  236.24               83.21